* {
  margin: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
section {
  max-width: 950px;
  margin: 10rem auto;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  gap: 2rem;
}

.col div {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}
input {
  width: 250px;
  padding: 0.3rem;
  outline: none;
  font-size: medium;
  border-radius: 4px;
  border: 1px solid #ced4da;
}
.istec {
  display: flex;

  flex-direction: column;
}
.top-flex {
  display: flex;
  justify-content: space-between;

  gap: 2rem;
}
.left-top {
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
}
.left-top div {
  display: flex;

  justify-content: space-between;
}
.right-top {
  display: flex;
  width: 100%;

  justify-content: space-between;
}
header {
  background: rgba(85, 110, 230, 0.25);
  font-size: 2rem;
  height: 145px;
  padding: 4rem 0 2rem 3rem;
  color: #556ee6;
  margin-bottom: 1rem;
}
.checkbox-x {
  width: 250px;
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}
.checkbox-x input {
  width: 1rem;
}
label {
  min-width: 9rem;
}
.buttons {
  justify-content: end !important;
  padding-right: 2rem;
}
.buttons button {
  width: 100px;
  height: 36px;
  border: none;
  color: white;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
}
.buttons button:nth-child(1) {
  border: 1px solid #74788d;
  background: #74788d;
}
.buttons button:nth-child(2) {
  margin-left: 1rem;
  background: #556ee6;
  border: 1px solid #556ee6;
}
